@import url(http://fonts.googleapis.com/css?family=Laila);

body, html {
	width:100%;
	height:100%;
	margin:0;
	color:white;
}

a{
	text-decoration:none;
	color:rgb(105, 49, 30);
}
img.xchange{
    cursor: pointer;
    cursor: hand;
}
#outer{
	position:absolute;
	width:100%;
	height:100%;
	overflow-x:hidden;
	background-color:;#f1f1f1;rgb(123, 84, 157);
}

#sidebar{
	min-width:90px;
	height:100%;
	position:fixed;
	background-color:black;
}

#sidebar_dashboard{
	width:0;
	height:100%;
	position:relative;
	background-color:rgb(50,50,50);
	display:inline-block;
}

#toggletab{
	width:90px;
	height:100%;
	position:absolute;
	background-color:#ED6039;rgb(188, 59, 24);
	display:inline-block;
}

#content{
	position:relative;
	left:90px;
	width:100%;
	height:100%;
	font-family: 'Laila', serif;
	background-color:;
}

#content a{
	color:rgb(165, 109, 90);
}

#toggletab ul,li{
	list-style:none;
	display:inline-block;
	padding:5px;
}

div.profilecard{
	display: none;
	position: relative;
	left: 5%;
	background-color: rgb(130,200,210);
	width: 90%;
	margin-bottom: 20px;
}

div.profilecard img{
	border-radius:6px;
}

div.addbook, div.addstuff{
	display: none;
	position: relative;
	left: 5%;
	width: 90%;
	margin:30px 0px 20px 0px;
	font-family: 'Laila', serif;
	background-color: ;rgb(130,200,210);
	overflow:hidden;
}
div.addbook input[type="text"], div.addstuff input[type="text"],
div.addbook textarea, div.addstuff textarea,
div.addbook select, div.addstuff select,
div.addbook input[type="submit"], div.addstuff input[type="submit"]{
	position:relative;
	display: block;
	margin: 0;
	width: 200px;
	font-size: 15px;
	appearance: none;
	box-shadow: none;
	border-radius: 1px;
	padding: 10px;
	border: solid 1px rgb(230,230,230);
	transition: box-shadow 0.3s, border 0.3s;
}
div.addbook li, div.addstuff li{
	margin:0;
	padding:0;
}

.sidebarfooter{
	position: absolute;
	top:88%;
}
.sidebarfooter ul{
	margin:0;
}
.sidebarfooter p, .sidebarfooter li{
	margin:0;
	padding:0px 70px 5px 0px;
}
.sidebarfooter p{
	margin-left:70px;
}
