div{
	display: block;
}

div.topbar-container{
	position: relative;
	min-width: 100%;
	height: 49px;
}

div.topbar{
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	min-width: 100%;
	height: 49px;
	background-color:;
}

div.navigation-container{
	position: relative;
	z-index: 10;
	background-color: white ;
	width: 90%;
	height: 48px;
	margin: 0 auto;
	clear: both;
	box-shadow: 0px 3px rgb(245,245,245);
	
}

h1.xIcon{
	display: inline;
	position: absolute;
	width: 50%;
	font-size: 21px;
	text-align: right;
	color: rgb(191,143,114);
}

div.navigation{
	position: relative;
	float: left;
	display: inline-block;
	background-color: white;
	height: 100%;
}

li.global-navi, li.global-settings{
	display: inline;
	height: 46px;
	overflow: hidden;
	position: relative;
	text-align: inherit;
	padding: 20px;
}

div.settings{
	position: relative;
	float: right;
	display: inline-block;
	background-color: white ;
	height: 100%;
}

ul.global-navi,ul.global-settings{
	display: block;
	text-align: left;
	margin-right: 12px;
	list-style: none;
	float: left;
	padding-left: 20px;
	margin-top: 12px;
}

div.content{
	width: 90%;
	margin: 0 auto;	
}

a.navi{
	text-decoration:none;
}
