html,body{
	margin:0;
	height:100%;
}

#signup { 
	background: url(dalai.gif) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:fixed;
	min-width:100%;
	min-height:100%;
}

#signin-bg { 
	background: url(fireworks.gif) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:fixed;
	min-width:100%;
	min-height:100%;
}

#signin-box {
	background-color:red;
	width:auto;
	margin-left:auto;
	margin-right:auto;
	vertical-align:middle;
}