@import url(http://fonts.googleapis.com/css?family=Laila);

body, html {
	width:100%;
	height:100%;
	margin:0;
	overflow:hidden;
}
#outer{
	position:absolute;
	width:100%;
	height:100%;
/*	background-color:;*/
	overflow:hidden;
}
#left{
	position:absolute;
	width:100%;
	height:100%;
/*	background: url() no-repeat center center fixed;*/
		background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display:block;
}
#right{
	position:absolute;
	width:100%;
	height:100%;
/*	background: url() no-repeat center fixed;*/
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display:block;
	left:95%;	
}
#inner-left-togglebar{
	position:relative;
	float:right;
	width:5%;
	height:20%;
	background-color:#ED6039;
	z-index:20;
	display:none;
	top:40%;
	border-radius:6px;
}
#inner-right-togglebar{
	position:relative;
	float:left;
	width:5%;
	height:20%;
	background-color:#ED6039;
	z-index:20;
	top:40%;
	border-radius:6px;
}
#signup-box{
	position:absolute;
	margin-left:37.5%;
	top:5%;
	width:25%;
	height:80%;
/*	background-color:;*/
}
#signup{
	position:relative;
	width:98%;
	min-height:98%;
/*	background-color:;*/
	margin:1%;
	text-align:center;
}
#signup h2, #signin h2{
	color:#1C0D1F;
	font-size:35px;
	font-family: 'Laila', serif;
}
#about_pxch{
    color:#1C0D1F;
    font-size:18px;
    font-family: 'Laila', serif;
}
p.landing_page_text{
    margin-left:-5px;
}
.landing_page_text{
    color:#35173B;
    font-family: 'Laila', serif;
}
.signinsignup{
    margin-top: 0px;
    color: #1C0D1F;
    text-align:center;
}
#inner-left-togglebar, #inner-right-togglebar{
    cursor: pointer;
    cursor: hand;
}
#signin-box{
	position:absolute;
	margin-left:37.5%;
	top:25%;
	width:25%;
	height:50%;
/*	background-color:;*/
}
#signin{
	position:relative;
	width:98%;
	height:98%;
/*	background-color:;*/
	margin:1%;
	text-align:center;
}
#signup-alignbox{
	position:relative;
	display:inline-block;
	margin:0;
	width:70%;
/*	background-color:;*/
}
#signin-alignbox{
	position:relative;
	display:inline-block;
	margin:0;
	width:75%;
/*	background-color:;*/
}
ul.signbox{
	display:inline-block;
	position:relative;
	list-style:none;
	margin:auto;
	top:0;
	width:100%;
	padding:0;
}
ul.signbox li{
	display:inline-block;
	width:100%;
	color:white;
	position:relative;
}
ul.signbox li p{
	display:inline-block;
	height:0px;
	font-size:18px;
}
ul.signbox li h4{
	display:inline-block;
}
input[type="text"], input[type="password"], input[type="tel"]{
	position:relative;
	display: inline-block;
	margin: 0;
	width: 90%;
	font-family: sans-serif;
	font-size: 15px;
	appearance: none;
	box-shadow: none;
	border-radius: 1px;
	padding: 4.5%;
	border: solid 1px rgb(230,230,230);
	transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"].pemail{
	width:20%;
	float:left;
}
input[type="text"]:focus,input[type="password"]:focus, input[type="tel"]:focus{
	outline: none;
	border: solid 1px #707070;
	box-shadow: 0 0 5px 1px rgb(230,230,230);
}
input[type="submit"]{
	position:relative;
	display: inline-block;
	margin-top: 10px;
	width: 100%;
	font-family: sans-serif;
	font-size: 15px;
	appearance: none;
	box-shadow: none;
	border-radius: 2px;
	padding: 7px 10px;
	border: solid 0px rgb(230,230,230);
	background: #E0645C;
	color: #FFFFFF;
	cursor: pointer;

	font-weight: bold;
	line-height: 35px;

	text-transform: none;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}
input[type="submit"]:hover{
	background: #1C0D1F;
}
