div.profile_main{
	display: block;
	position: relative;
	width: 80%;
	margin-left:5%;
	padding-top: 20px;
	color:black;
}

.profile-left{
	background-color:;
	left:100px;
	width:60%;
	min-width:500px;
	height:100%;
	position:relative;
	display:inline-block;
}

.profile-right{
	position:relative;
	float:right;
	color:black;
	display:inline-block;
}

.yourrequests{
	margin:0 auto;
	border-bottom:1px solid rgb(200,200,200);
	width:100%;
}

.yourbks, .yourstuffs{
	margin:0 auto;
	width:100%;
	border-bottom:1px solid rgb(200,200,200);
}
