div.stuff{
        position: relative;
        border-radius:0px;
        width:100%;
        border-bottom:1px solid rgb(200,200,200);
        background-color:;
}

div.stuff-header{
        position:relative;
        height:50px;
        top:5px;
        margin: 20px 0px 0px 20px;
        border-bottom:;1px solid rgb(180,180,180);
}

div.stuff-header img{
        float:left;
        margin-right:10px;
}

div.stuff-header p{
        font-size:12px;
        margin:0;
}

div.stuff-description{
        position:relative;
        font-size:15px;
        margin: 0px 0px 0px 20px;
        word-wrap:break-word;
}

div.stuff-info{
        position:relative;
        width:100%;
        font-size:15px;
        margin:0px 0px 0px 20px;
        display:inline-block;
}

div.stuff-info img{
        position:relative;
        float:left;
        width:120px;
        height:120px;
        margin-right:20px;
        border-radius:6px;
}

div.stuff-info p,h3,h4{
        margin:0;
}

