{% extends "base_sidebar.html" %}

{% block style %}
{% load staticfiles %}
<link href='{% static "home.css" %}' media='screen' type='text/css' rel='stylesheet'>
{% endblock style %}



{% block content %}

<div class="main">

<h2>About</h2>


</div>




{% endblock content %}