<form method='POST'> {% csrf_token %}
{{form.username}}
{{form.password}}
{{form.password1}}
{{form.email}}
{{form.errors}}
<br><br><input type='submit' value='Activate' size='3' name='activate_button'>
</form>
