<form method="POST" enctype="multipart/form-data"> {% csrf_token %}
<p>Image: {{ stuffimgform.stuff_imgField }}</p> {{ stuffimgform.errors.stuff_imgField }}
<p>Name: {{ sform.stuff_name }}</p> {{ sform.errors.stuff_name }}
<p>Price: {{ sform.stuff_price}}</p> {{ sform.errors.stuff_price}}
<p>Description: {{ sform.stuff_description}}</p> {{ sform.errors.stuff_description }}
<input type="submit" value="Save" name="save_button">
</form>
