<form method="POST" enctype="multipart/form-data"> {% csrf_token %}
<p>Book Image{{ bimgform.imgField }}{{bimgform.errors.imgField}}</p>
<p>Title: {{ form.title }}</p> {{form.errors.title}}
<p>Subject: {{ form.related_major }}</p> {{ form.errors.related_major }}
<p>Description: {{ form.description }}</p> {{form.errors.description}}
<p>Condition: {{ form.condition }}</p> {{ form.errors.condition }}
<p>Price: {{ form.price }}</p> {{form.errors.price}}
<input type="submit" value="Save" name="save_button">
</form>
