<!DOCTYPE html>
<head>
<link href='/static/base.css' media='screen' type='text/css' rel='stylesheet'>
<link href='/static/main.css' media='screen' type='text/css' rel='stylesheet'>
{% block style %}{% endblock style %}
</head>
<html>
<body>

<div class="outer">

<div class="topbar-container">
<div class="topbar">
<div class="navigation-container">

<h1 class="xIcon">X</h1>

<div class="navigation" style="display:inline-block;">
<ul class="global-navi">
<li class="global-navi"><a class="navi" href="/">Home</a></li>
<li class="global-navi"><a class="navi" href="/profile/{{ user.id }}/">Profile</a></li>
<li class="global-navi">Notifications</li>
</ul>
</div>

<div class="settings">
<ul class="global-settings">
<li class="global-settings">Messages</li>
<li class="global-settings"><a class="navi" href="/edit">Edit Profile</a></li>
<li class="global-settings"><a class="navi" href="/logout">Logout</a></li>
</ul>
</div>

</div>
</div>
</div>

<div class="content">
{% block content %}
{% endblock content%}
</div>

</div>
</body>
</html>


