<!DOCTYPE html>
<head>
<title>PoetXchange</title>
{% load staticfiles %}
<link href='{% static "base_sidebar.css" %}' media='screen' type='text/css' rel='stylesheet'>
{% block style %}{% endblock %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src=' {% static "js/base_sidebar.js" %} '></script>

<style>
img.clicked{
    -webkit-animation: spin 0.5s linear;
    -moz-animation: spin 0.5s linear;
    animation: spin 0.5s linear;
}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
</style>
<script>
$(document).ready(function(){
    $('.xchange').click(function() {
        $(this).toggleClass('clicked');
    });
});
</script>
</head>


<html>
<body>

<div id="outer">

<div id="sidebar">

<div id="sidebar_dashboard">

<div class="profilecard">
<img src="{% static 'imgs/pp/'%}{{ usr_acc.id }}/pp.jpg" height="160" width="160">
<h3>{{ usr_acc.fullname }}</h1>
<p>@{{ usr_acc.username }}</p>
<p>{{ usr_acc.email }}</p>
</div>


<div class="addbook">

<form method='POST' action="/add_book" enctype="multipart/form-data"> {% csrf_token %}
<h3>Fill info to sell book</h3>
    <ul>
        <li>Book Image{{ bimgform.imgField }}</li>
        <li>Title: {{ bform.title }}</li>
        <li>Price: {{ bform.price }}</li>
        <li>Subject: {{ bform.related_major }}</li>
        <li>Condition: {{ bform.condition }}</li>
        {# bform.for_sale #}
        <li>Description:{{ bform.description }}</li>
        <li><input type="submit" value="Submit"></li>
    </ul>
</form>
</div>

<div class="addstuff">

<form method='POST' action="/add_stuff" enctype="multipart/form-data"> {% csrf_token %}
<h3>Fill info to sell stuff</h3>
    <ul>
        <li>Stuff Image{{ simgform.stuff_imgField }}</li>
        <li>Name: {{ sform.stuff_name }}</li>
        <li>Price: {{ sform.stuff_price }}</li>
        <li>Description:{{ sform.stuff_description }}</li>
        <li><input type="submit" value="Submit"></li>
    </ul>
</form>
</div>


<div class="sidebarfooter">
<ul>
<li>Internships Coming Up Soon</li>
<p>PoetXchange (c) 2014</p>
<p style="font-size:10px;">Send feedbacks to poetxchange@gmail.com</p>
</ul>
</div>

</div>

<div id="toggletab">
<p id="click"><img class="xchange" src="/static/icos/X.png" width="60px" height="60px"></p>
<div id="click2"></div>
<ul>
<li><a href="/"><img src="/static/icos/home.png" width="20px" height="20px">  Home</a></li>
<li><!--<p class="profilecard">Profile</p>--> <a href="/profile/{{ user.id }}"><img src="/static/icos/profile.png" width="20px" height="20px">  Profile</a></li>
<li><p class="addbook" style="cursor:pointer;color:rgb(105,49,30);"><img src="/static/icos/book.png" width="20px" height="20px">  Book</p></li>
<li><p class="addstuff" style="cursor:pointer;color:rgb(105,49,30);"><img src="/static/icos/book.png" width="20px" height="20px">  Stuff</p></li>

<li><a href="/logout"><img src="/static/icos/logout.png" width="15px" height="20px"> Logout</a></li>
</ul>

</div>
</div>


<div id="content">
{% block content %}
{% endblock %}
</div>

</div>

</body>
</html>


