{{ book.title }}

<br>

{% if user.id == book.owner.user.id %}
<p>You own this book</p>
{% else %}
<p>Book Owner: {{ book.owner.first_name }} {{ book.owner.last_name }}</p>
{% endif %}

{{ book.description }}

<br>

{{ book.price }}

<br>

{{ book.condition }}

<br>

{{ book.related_major }}

{% if user.is_authenticated %}
asdfasdf
{% else %}
bbbbb
{% endif %}

<form method="post" action="/book_request/{{book.id}}/">
{% csrf_token %}
<input type="submit" value="Show Interest">
</form>