<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script>

function loadchat(){
	xmlhttp= new XMLHttpRequest();
	xmlhttp.onreadystatechange=function(){
		if (xmlhttp.readyState==4 && xmlhttp.status==200){
			document.getElementById("myDiv").innerHTML = xmlhttp.responseText;
		}
	}
	xmlhttp.open("POST","/ajaxtest",true);
	xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
	xmlhttp.send('chat_msg=OKAYY');
}
$(document).ready(function(){
$("button").click(function(){
	$.ajax({
		type:"POST",
		url:"/ajaxtest",
		data:{
		csrfmiddlewaretoken : document.getElementsByName('csrfmiddlewaretoken')[0].value,
		text : $("textarea").val(),
		},
		success: function(result){
			$("#myDiv").html(result);
		}
	});
});
});

setInterval(function(){
	$.ajax({
		type:"GET",
		url:"/ajaxtest",
		success: function(result){
			$("#myDiv").html(result);
		}
	});
}, 1000);

</script>



{{convers}}

<form method="POST" enctype="multipart/form-data">{% csrf_token %}
{{form.chat_msg}}

<input type="submit" value="submit" onclick="loadchat()">
<button type="Button" onclick="loaddchat()">Send</button>
</form>

<div id="myDiv"></div>