{% extends "base_sidebar.html" %}

{% block style %}
{% load staticfiles %}
<link href='{% static "profile.css" %}' media='screen' type='text/css' rel='stylesheet'>
<link href='{% static "stuff.css" %}' media='screen' type='text/css' rel='stylesheet'>
{% endblock style %}


{% block content %}

<div class="profile_main">
	<div class="profile-left">

		<div class="yourbks">
		<h4>Edit Your Stuff</h4>


			<div class="stuff">
				<div class="stuff-header">
				<img src="{% static 'imgs/pp/'%}{{ stuff.owner.id }}/pp.jpg" height="50" width="50">
				<p><a href="/profile/{{stuff.stuff_owner.user.id}}">{{stuff.stuff_owner.fullname}}</a> posted a stuff for sale</p>
				<p>{{stuff.stuff_pub_date}}</p>
				</div>

				<form method="POST" enctype="multipart/form-data">{% csrf_token %}				

				<div class="stuff-description">
				<p>{{form.stuff_description}}</p>
				</div>

				<div class="stuff-info">
				<img src="{% static 's39s/'%}{{ stuff.stuff_owner.id }}/{{stuff.id}}/sks.jpg">
				{{simgform.stuff_imgField}}
				<p>Name: {{form.stuff_name}}</p>
				<p>Price: {{form.stuff_price}}</p>
				</div>

				<input type="submit" value="Save">
				</form>

				<form method="post" action="/1sxcdb4{{ stuff.id }}">
				{% csrf_token %}
				<input type="hidden" value="del">
				<input type="submit" value="Delete">
				</form>
			</div>


		</div>
	</div>

	<div class="profile-right">
		<div class="profilecard2">
		<img src="{% static 'imgs/pp/'%}{{ stuff.stuff_owner.id }}/pp.jpg" height="160" width="160">
		<h3>{{ stuff.stuff_owner.fullname }}</h1>
		<p>@{{ stuff.stuff_owner.username }}</p>
		<p>{{ stuff.stuff_owner.email }}</p>
		</div>
	</div>
</div>
{% endblock content %}
