{% extends "base_sidebar.html" %}

{% block style %}
{% load staticfiles %}
<link href='{% static "profile.css" %}' media='screen' type='text/css' rel='stylesheet'>
<link href='{% static "book.css" %}' media='screen' type='text/css' rel='stylesheet'>
{% endblock style %}


{% block content %}

<div class="profile_main">
	<div class="profile-left">

		<div class="yourbks">
		<h4>Edit Your Book</h4>


			<div class="book">
				<div class="book-header">
				<!--<img src="{# static 'imgs/pp/'#}{# book.owner.id #}/pp.jpg" height="50" width="50">-->
				<p><a href="/profile/{{book.owner.user.id}}">{{book.owner.fullname}}</a> posted a book for sale</p>
				<p>{{b.pub_date}}</p>
				</div>

				<form method="POST" enctype="multipart/form-data">{% csrf_token %}				

				<div class="book-description">
				<p>{{form.description}}</p>
				</div>

				<div class="book-info">
				<img src="{% static 'b39b/'%}{{ book.owner.id }}/{{book.id}}/bkb.jpg">
				{{bimgform.imgField}}
				<p>Title: {{form.title}}</p>
				<p>Related Subject: {{form.related_major}}</p>
				<p>Price: {{form.price}}</p>
				<p>Condition: {{form.condition}}</p>
				</div>

				<input type="submit" value="Save">
				</form>

				<form method="post" action="/1pxcdb4{{ book.id }}">
				{% csrf_token %}
				<input type="hidden" value="del">
				<input type="submit" value="Delete">
				</form>
			</div>


		</div>
	</div>

	<div class="profile-right">
		<div class="profilecard2">
		<!--<img src="{# static 'imgs/pp/'#}{# book.owner.id #}/pp.jpg" height="160" width="160">-->
		<h3>{{ book.owner.fullname }}</h1>
		<p>@{{ book.owner.username }}</p>
		<p>{{ book.owner.email }}</p>
		</div>
	</div>
</div>
{% endblock content %}


<form method="POST" enctype="multipart/form-data">{% csrf_token %}

{% load staticfiles %}
<img src="{% static 'b39b/'%}{{ book.owner.id }}/{{book.id}}/bkb.jpg">
{{bimgform.imgField}}

{{form.title}}
{{form.description}}
{{form.price}}
{{form.related_major}}
{{form.condition}}
<input type="submit" value="Submit">
</form>
