<form method='POST' enctype="multipart/form-data">{% csrf_token %}

{% load staticfiles %}
<!--<img src="{% static 'imgs/pp/'%}{{ usr_acc.id }}/pp.jpg">-->
<h3>Edit Profile</h3>
{#imgform.imgField#}

{{form.first_name}} {{form.last_name}}
<p>{{form.username}}</p>
<p>{{form.email}}</p>
<p>{{form.password}}</p>
<p>{{form.ph_num}}</p>

<input type="submit" value="Submit">

</form>
