{% extends "base_sidebar.html" %}
{#Just a comment #}
{% block style %}
{% load staticfiles %}
<link href='{% static "home.css" %}' media='screen' type='text/css' rel='stylesheet'>
<link href='{% static "book.css" %}' media='screen' type='text/css' rel='stylesheet'>
<link href='{% static "stuff.css" %}' media='screen' type='text/css' rel='stylesheet'>
{% endblock style %}

{% block content %}

<div class="main">

{% for item in item_lists %}
{% if item.related_major %}
{% with b=item %}
<div class="book">
    <div class="book-header">
        {% load staticfiles %}
        <!--<img src="{% static 'imgs/pp/'%}{{ b.owner.id }}/pp.jpg" height="50" width="50">-->
        <p><a href="/profile/{{b.owner.user.id}}">{{b.owner.fullname}}</a> posted a book for sale</p>
        <p>{{b.pub_date|timesince}} ago</p>
    </div>

    <div class="book-info">
        <img src="{% static 'b39b/'%}{{ b.owner.id }}/{{b.id}}/bkb.jpg">
        <!--<h3><a href="/book/{{b.id}}"> {{b.title}} </a></h3>-->
        <h3><a href="/profile/{{b.owner.user.id}}"> {{b.title}} </a></h3>
        <p>Related Subject: {{b.related_major}}</p>
        <p>Price: {{b.price}}$</p>
        <p>Condition: {{b.condition}}</p>
    </div>

    <div class="book-description">
        {{b.description}}
    </div>

    {% if usr_acc.id == b.owner.id %}

        <p style="color:#ED6039;"></p>

    {% elif usr_acc in b.bnu %}

        <p>You liked this book</p>
        <form method="post" action="/book_unrequest/{{ b.id }}/">
        {% csrf_token %}
        <p><input type="submit" value="Unlike"></p>
        </form>


    {% else %}

    <form method="post" action="/book_request/{{ b.id }}/">
        {% csrf_token %}
        <p><input type="submit" value="Like"></p>
    </form>

    {% endif %}
        {{ b.bnu.interested_users.count }}
</div>
{%endwith%}
{%else%}
{% with s=item %}
<div class="stuff">
    <div class="stuff-header">
        {% load staticfiles %}
        <!--<img src="{% static 'imgs/pp/'%}{{ s.stuff_owner.id }}/pp.jpg" height="50" width="50">-->
        <p><a href="/profile/{{s.stuff_owner.user.id}}">{{s.stuff_owner.fullname}}</a> posted an item</p>
        <p>{{s.stuff_pub_date|timesince}} ago</p>
    </div>

    <div class="stuff-info">
        <img src="{% static 's39s/'%}{{ s.stuff_owner.id }}/{{s.id}}/sks.jpg">
        <!--<h3><a href="/book/{{b.id}}"> {{b.title}} </a></h3>-->
        <h3><a href="/profile/{{s.stuff_owner.user.id}}"> {{s.stuff_name}} </a></h3>
        <p>Price: {{s.stuff_price}}$</p>
    </div>

    <div class="stuff-description">
        <p>{{s.stuff_description}}</p>
    </div>

    {% if usr_acc.id == s.stuff_owner.id %}
        <p style="color:#ED6039;"></p>
    {% elif usr_acc in s.snu %}
        <p>You liked this stuff</p>
        <form method="post" action="/stuff_unrequest/{{ s.id }}/">
            {% csrf_token %}
            <p><input type="submit" value="Unlike"></p>
        </form>
    {% else %}
        <form method="post" action="/stuff_request/{{ s.id }}/">
            {% csrf_token %}
            <p><input type="submit" value="Like"></p>
        </form>
    {% endif %}
        {{ s.snu.interested_users.count }}
</div>
{%endwith%}
{% endif %}
{% endfor %}

<div class="pagination">

        {% if item_lists.has_previous %}
            <a href="?page={{ item_lists.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
           {{ item_lists.number }} of {{ item_lists.paginator.num_pages }}
        </span>

        {% if item_lists.has_next %}
            <a href="?page={{ item_lists.next_page_number }}">next</a>
        {% endif %}

</div>

</div>
{% endblock content %}
