{% extends "base_sidebar.html" %}

{% block style %}
{% load staticfiles %}
<link href='{% static "home.css" %}' media='screen' type='text/css' rel='stylesheet'>
<link href='{% static "stuff.css" %}' media='screen' type='text/css' rel='stylesheet'>
{% endblock style %}



{% block content %}

<div class="main">

{% for s in stuffs %}
<div class="stuff">
<div class="stuff-header">
{% load staticfiles %}
<img src="{% static 'imgs/pp/'%}{{ s.stuff_owner.id }}/pp.jpg" height="50" width="50">
<p><a href="/profile/{{s.stuff_owner.user.id}}">{{s.stuff_owner.fullname}}</a> posted a book for sale</p>
<p>{{s.stuff_pub_date}}</p>
</div>

<div class="stuff-description">
<p>{{s.stuff_description}}</p>
</div>

<div class="stuff-info">
<img src="{% static 's39s/'%}{{ s.stuff_owner.id }}/{{s.id}}/sks.jpg">
<!--<h3><a href="/book/{{b.id}}"> {{b.title}} </a></h3>-->
<h3><a href="/profile/{{s.stuff_owner.user.id}}"> {{s.stuff_name}} </a></h3>
<p>Price: {{s.stuff_price}}$</p>
</div>

{% if usr_acc.id == s.stuff_owner.id %}
<p style="color:#ED6039;">You own this stuff</p>
{% elif usr_acc in s.snu %}
<p>You already requested this stuff</p>
{% else %}
<form method="post" action="/stuff_request/{{ s.id }}/">
{% csrf_token %}
<p><input type="submit" value="Show Interest"></p>
</form>
{% endif %}
{{ s.snu.interested_users.count }}
</div>
{% endfor %}



</div>




{% endblock content %}