{% extends "base_sidebar.html" %}

{% block style %}
{% load staticfiles %}
<link href='{% static "home.css" %}' media='screen' type='text/css' rel='stylesheet'>
<link href='{% static "book.css" %}' media='screen' type='text/css' rel='stylesheet'>
<link href='{% static "stuff.css" %}' media='screen' type='text/css' rel='stylesheet'>
{% endblock style %}



{% block content %}

<div class="main">

{% for b in books %}
<div class="book">
<div class="book-header">
{% load staticfiles %}
<img src="{% static 'imgs/pp/'%}{{ b.owner.id }}/pp.jpg" height="50" width="50">
<p><a href="/profile/{{b.owner.user.id}}">{{b.owner.fullname}}</a> posted a book for sale</p>
<p>{{b.pub_date}}</p>
</div>

<div class="book-description">
<p>{{b.description}}</p>
</div>

<div class="book-info">
<img src="{% static 'b39b/'%}{{ b.owner.id }}/{{b.id}}/bkb.jpg">
<!--<h3><a href="/book/{{b.id}}"> {{b.title}} </a></h3>-->
<h3><a href="/profile/{{b.owner.user.id}}"> {{b.title}} </a></h3>
<p>Related Subject: {{b.related_major}}</p>
<p>Price: {{b.price}}$</p>
<p>Condition: {{b.condition}}</p>
</div>

{% if usr_acc.id == b.owner.id %}
<p style="color:#ED6039;">You own this book</p>
{% elif usr_acc in b.bnu %}
<p>You already requested this book</p>
{% else %}
<form method="post" action="/book_request/{{ b.id }}/">
{% csrf_token %}
<p><input type="submit" value="Show Interest"></p>
</form>
{% endif %}
{{ b.bnu.interested_users.count }}
</div>
{% endfor %}


</div>




{% endblock content %}