<!DOCTYPE html>
<link href='static/main.css' media='screen' type='text/css' rel='stylesheet'>
<html>
<body>

<div id="top_bar" style="width:100%; height:80px; background-color:rgb(114,115,191);">

<div id="signin" style="float:right; margin-top:20px;">
<form method='POST' action="/login"> {% csrf_token %}
{{ signin_form.username }}
{{ signin_form.password }}
<input type="submit" value="Login">
</form>
</div>

</div>


<div id="signup" style="width:100%;">
<div style="float:right;">
<h3>Sign UP</h3>
<form method='POST' action=""> {% csrf_token %}
{{signup_form.first_name}}
{{signup_form.last_name}}
<p>{{signup_form.email_uname}}@poets.whittier.edu</p>
<p>{{signup_form.password}}</p>

<h4>Set your perfer</h4>
{{signup_form.username}}
<p>{{signup_form.email}}</p>
<p>{{signup_form.ph_area_code}}{{signup_form.ph_mid}}{{signup_form.ph_last}}</p>
{{ signup_form.errors }}

<br><br><input type='submit' value='Sign Up' size='3' name='submitButton_name'>
</form>

</div>
</div>


</body>
</html>


