<!DOCTYPE html>
{% load staticfiles %}
<head>
<meta property="og:site_name" content="PoetXchange"/>
<meta name="description" content="Sell your textbooks and items to your peers"/>
<meta property="og:title" content="PoetXchange"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://www.poetxchange.com"/>
<meta property="og:image" content="static/icos/X.png"/>
<link href='static/newde.css' media='screen' type='text/css' rel='stylesheet'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src='static/js/newde.js'></script>
</head>
<html>
<body>

<div id="outer">
<video style="overflow:hidden;z-index:-100;position:absolute;width:100%;height:auto;min-width:100%;min-height:100%;" autoplay loop>
  <source src="/static/mo.mp4" type="video/mp4">
Your browser does not support the background video.
</video>
<div id="left">
<div id="signup-box">
	<div id="signup">
		<h2>PoetXchange</h2>
        <p id="about_pxch">Sell your books and stuffs to your peers</p>
		<div id="signup-alignbox">
		<ul class="signbox">
		<form method='POST' action=""> {% csrf_token %}
		<li>{{signup_form.first_name}}{{ signup_form.errors.first_name }}</li>
		<li>{{signup_form.last_name}}</li>{{ signup_form.errors.last_name }}
		<li>{{signup_form.email_uname}}<p class="landing_page_text">@poets.whittier.edu{{ signup_form.errors.email_uname }}</p></li>


		<li><h3 class="landing_page_text">Create a profile</h3></li>
		<li>{{signup_form.username}}{{ signup_form.errors.username }}</li>
        <li>{{signup_form.password}}{{ signup_form.errors.password }}</li>
		<li>{{signup_form.email}}{{ signup_form.errors.email }}</li>
		<li>{{signup_form.ph_num}}{{ signup_form.errors.ph_num }}</li>
		<li><input type='submit' value='Sign Up' size='3' name='submitButton_name'></li>
		</form>
		</ul>
		</div>
	</div>
</div>
<div id="inner-left-togglebar"><h1 class="signinsignup">Sign Up</h1></div>
</div>

<div id="right">
<div id="signin-box">
	<div id="signin">
		<h2>PoetXchange</h2>
		<div id="signin-alignbox">
		<ul class="signbox">
		<form method='POST' action="/login"> {% csrf_token %}
		<li>{{ signin_form.username }}</li>
		<li>{{ signin_form.password }}</li>
		<li><input type="submit" value="Sign In"></li>
		</form>
		</ul>
		</div>
	</div>
</div>
<div id="inner-right-togglebar"><h1 class="signinsignup">Sign In</h1></div>
</div>

</div>

</body>
</html>
