<!DOCTYPE html>
<head>
<link href='static/newde.css' media='screen' type='text/css' rel='stylesheet'>
</head>
<html>
<body>

<div id="outer">
<video style="overflow:hidden;z-index:-100;position:absolute;width:100%;height:auto;min-width:100%;min-height:100%;" autoplay loop>
    <source src="/static/mo.mp4" type="video/mp4">
    Your browser does not support the background video.
</video>
    <div id="signin-box">
        <div id="signin">
            <h2>PoetXchange</h2>
            <div id="signin-alignbox">
                <ul class="signbox">
                    <form method='POST'> {% csrf_token %}
                        <li>{{ form.username }}{{form.errors.username}}</li>
                        <li>{{ form.password }}{{form.errors.password}}</li>
                        <li><input type="submit" value="Sign In"></li>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>


