{% extends "base_sidebar.html" %}

{% block style %}
{% load staticfiles %}
<link href='{% static "profile.css" %}' media='screen' type='text/css' rel='stylesheet'>
<link href='{% static "book.css" %}' media='screen' type='text/css' rel='stylesheet'>
<link href='{% static "stuff.css" %}' media='screen' type='text/css' rel='stylesheet'>
{% endblock style %}


{% block content %}

<div class="profile_main">
	<div class="profile-left">
		{% if bkrs != None %}

		<div class="yourrequests">
		<h4>Your Likes</h4>
		{% for br in bkrs %}
			<div class="book">
			<p><a href="/profile/{{br.owner.user.id}}">{{br.title}}</a> | {{br.owner.fullname}} | {{br.price}} $</p>
			</div>
		{% endfor %}
		{% for st in stuff_list %}
			<div class="book">
			<p><a href="/profile/{{st.stuff_owner.user.id}}">{{st.stuff_name}}</a> | {{st.stuff_owner.fullname}} | {{st.stuff_price}} $</p>
			</div>
		{% endfor %}
		</div>

		{% endif %}

		<div class="yourbks">
		{% if bkrs != None %}
		<h4>Your Books</h4>
		{% else %}
		<h4>{{ usr_acc.first_name }}'s Books</h4>
		{% endif %}

		{% for b in books %}

			<div class="book">
				<div class="book-header">
    				<!--<img src="{# static 'imgs/pp/'%}{{ usr_acc.id #}/pp.jpg" height="50" width="50">-->
    				<p><a href="/profile/{{b.owner.user.id}}">{{b.owner.fullname}}</a> posted a book for sale</p>
	    			<p>{{b.pub_date|timesince}} ago</p>
				</div>

				<div class="book-info">
				    <img src="{% static 'b39b/'%}{{ b.owner.id }}/{{b.id}}/bkb.jpg">
    				<!--<p><a href="/book/{#b.id}}"> {{b.title#} </a></p>-->
    				<h3><a href="/profile/{{b.owner.user.id}}"> {{b.title}} </a></h3>
    				<p>Related Subject: {{b.related_major}}</p>
    				<p>Price: {{b.price}}$</p>
    				<p>Condition: {{b.condition}}</p>
				</div>

                <div class="book-description">
                    {{b.description}}
                </div>

				<div class="book-requests">
				{% if bkrs != None %}
				{% if b.bnu == None %}
				<h5>No likes yet</h5>
				{% else %}
				<h5>Likes (Contact them to sell your item)</h5>
				{% for requsr in b.bnu %}
				<p>{{ requsr.fullname }} | {{ requsr.email }}</p>
				{% endfor %}
				{% endif %}
				{% endif %}
				</div>

				{% if bkrs != None %}
				<a href="/12{{b.id}}"><button type="button">Edit</button></a>
				{% elif u_acc in b.bnu %}
				<p>You already requested this book</p>
				{% else %}
				<form method="post" action="/book_request/{{ b.id }}/">{% csrf_token %}
				<p><input type="submit" value="Show Interest"></p>
				</form>
				{% endif %}

			</div>

		{% endfor %}

		</div>


		<div class="yourstuffs">
		{% if bkrs != None %}
		<h4>Your Stuffs</h4>
		{% else %}
		<h4>{{ usr_acc.first_name }}'s stuffs</h4>
		{% endif %}

		{% for stuff in stuffs %}

			<div class="book">
				<div class="stuff-header">
				<!--<img src="{# static 'imgs/pp/'%}{{ usr_acc.id #}/pp.jpg" height="50" width="50">-->
				<p><a href="/profile/{{b.owner.user.id}}">{{stuff.stuff_owner.fullname}}</a> posted an item for sale</p>
				<p>{{stuff.stuff_pub_date}}</p>
				</div>

				<div class="stuff-description">
				<p>{{stuff.stuff_description}}</p>
				</div>

				<div class="stuff-info">
				<img src="{% static 's39s/'%}{{ stuff.stuff_owner.id }}/{{stuff.id}}/sks.jpg">
				<!--<p><a href="/book/{#b.id}}"> {{b.title#} </a></p>-->
				<h3><a href="/profile/{{stuff.stuff_owner.user.id}}"> {{stuff.stuff_name}} </a></h3>
				<p>Price: {{stuff.stuff_price}}</p>
				</div>

				<div class="stuff-requests">
				{% if bkrs != None %}
				{% if stuff.snu == None %}
				<h5>No offers yet</h5>
				{% else %}
				<h5>Offers (Contact them to sell your item)</h5>
				{% for requsr in stuff.snu %}
				<p>{{ requsr.fullname }} | {{ requsr.ph_num}} | {{ requsr.email }}</p>
				{% endfor %}
				{% endif %}
				{% endif %}
				</div>

				{% if bkrs != None %}
				<a href="/stuff/edit/{{stuff.id}}"><button type="button">Edit</button></a>
				{% elif u_acc in stuff.snu %}
				<p>You already requested this stuff</p>
				{% else %}
				<form method="post" action="/stuff_request/{{ stuff.id }}/">{% csrf_token %}
				<p><input type="submit" value="Show Interest"></p>
				</form>
				{% endif %}

			</div>

		{% endfor %}

		</div>


	</div>

	<div class="profile-right">
		<div class="profilecard2">
		<!--<img src="{% static 'imgs/pp/'%}{{ usr_acc.id }}/pp.jpg" alt="Upload Picture" border="0" height="160" width="160">-->
		<h3>{{ usr_acc.fullname }}</h3>
		<p>@{{ usr_acc.username }}</p>
		<p>{{ usr_acc.email }}</p>
		{# if bkrs != None #}
		<!--<p>{{ usr_acc.ph_num }}</p>-->
		{# endif #}
		</div>

		{% if bkrs != None %}
		<a href="/edit"><button type="button">Edit Profile</button></a>
		<div class="invitefriend">
		<h4>Invite your friends</h4>
		<form action="/infrd" method="POST">{% csrf_token %}
		{{inviteform.email_uname}} @poets.whittier.edu
		<input type="submit" value="Invite">
		</form>
		</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
