<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
</head>
<body>
<!--<a href="/user/signup/valid_code={{ act_link }}">{{ act_link }}</a>-->
<h4>Activate your account</h4>
<p>Activation link has been sent to your poet email to verify that you are real and not a robot.</p>
</body>
</html>